.loading__main-container{
    align-items: center;
    background-color: $primary;
    color: black;
    display: flex;
    font-size: 80px;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}